.slideshow-image {
  max-height: 60vh;
  overflow: hidden;
}

.slideshow-text {
  text-align: left !important;
}

.carousel-indicators button {
  width: 160px !important;
  margin-right: 8px !important;
}

.carousel-button {
  width: 180px;
  margin-bottom: 10px;
}

.carousel-products-img {
  width: 250px;
  height: 250px;
  margin-right: 15px;
  padding-bottom: 30px;
  display: block;
  margin: 0 auto;
}

.explore-products-title {
  position: relative;
  background-color: rgba(97, 97, 97, 0.593);
  border-radius: 30px;
  border: solid 1px rgb(148, 235, 245);
  width: 300px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:20px auto 0px auto ;
}

.carousel-product-card {
  background: rgba(97, 97, 97, 0.485) !important;
  margin: 50px 20px;
  transition: ease 2ms;
}

.carousel-product-card:hover {
  box-shadow: inset 0 0 0 2.5px rgb(139, 67, 255);
  cursor: pointer;
}

.carousel-product-card img {
  width: 220px;
  height: 220px;
  padding: 30px;
  display: block;
  margin: 0 auto;
}

.carousel-product {
  align-items: center;
}

.carousel-back {
  background: url("https://images.alphacoders.com/116/1169862.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  border: solid 1px gray;
}

.carousel-product-card h3 {
  text-align: center;
}

.carousel-back h2 {
  color: white;
  text-align: center;
  padding-top: 34px;
}

.carousel h3 {
  color: white;
}

.carousel-product-card h3, .product-title {
  color: white;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.842);
}