.main-dropdown{
  position: static !important;
}

.dropdown-button {
  background-color: rgba(228, 107, 107, 0) !important;
  border: none !important;
  color: white;
  height: 55px;
  padding: 0 !important;
  transition: 1s ease !important;
  transform-origin: center;
}

.picked {
  color: aqua !important;
  transition: 1s ease !important;
  font-size: 18px !important;
}

.dropdown-toggle::after{
  content: none !important;
}

.font-color{
  color: rgb(218, 218, 218) !important;
  background-color: rgb(62, 62, 62) !important;
}
  
.dropdown-size{
  margin-top: -6.5px !important;
  width: 100% !important;
  margin-left: 0 !important;
  border-bottom: solid 2.5px aqua !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.image-style{
  width: 100px !important;
  height: 100px !important;
}

@media (min-width: 1360px) {
  .image-style {
    margin: 8px 0px 15px 30px !important;
  }
}

@media (max-width: 1360px) {
  .image-style {
    margin: 8px 0px 15px 0px !important;
  }
}

.col-submenu a{
  text-decoration: none;
  color: rgb(218, 218, 218);
  display: block;
}

.submenu-title{
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.5s ease;
}

@media (min-width: 1360px) {
  .submenu-title {
    margin-top: 10px;
    margin-left: 10px !important;
    margin-right: 0px !important;
    text-align: start;
  }
}

@media (max-width: 1360px) {
  .submenu-title {
    margin: 8px 0px 15px 0px;
    text-align: center;
    margin-bottom: 5px !important;
    margin-top: 0px !important;
  }
}

.submenu-p{
  font-size: 12px;
  transition: transform 0.5s ease;
}

@media (min-width: 1360px) {
  .submenu-p {
    margin-left: 15px !important;
    margin-right: 0px !important;
  }
}

@media (max-width: 1360px) {
  .submenu-p {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
  }
}

.submenu-p-size{
  text-align: center;
  font-size: 12px;
  transition: transform 0.5s ease;
}

@media (min-width: 1360px) {
  .submenu-p-size {
    text-align: center;
    margin-left: 7% !important;
    margin-right: 70% !important;
  }
}

@media (max-width: 1360px) {
  .submenu-p-size {
    margin-left: 40% !important;
    margin-right: 40% !important;
  }
}

.submenu-title:hover, .submenu-p:hover, .submenu-p-size:hover{
  transition: 0.5s;
  transform: translateX(5px);
}

.submenu-title-responsive:hover, .submenu-p-responsive:hover{
  transition: 0.5s;
  transform: translateX(5px);
}