.icon-side-bar{
  margin-top: 8px;
  margin-bottom: 7px;
}

.nav-menu {
  background-color: rgb(47, 47, 47);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1001;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text:hover {
  background-color: #222222;
}

.nav-menu-items {
  width: 100%;
}

.no-link{
  font-size: 18px;
  margin-left: 16px;
}

.no-link:hover{
  cursor: pointer;
}

span {
  margin-left: 16px;
}

.align-end{
  text-align: end;
}

.cursor{
  cursor: pointer;
}

.div-input-mobile{
  position: absolute !important;
  left: 50%;
  top: 45px;
  padding: 10px !important;
  z-index: 4 !important;
  width: 50% !important;
  background-color: rgb(116, 116, 116);
  border-radius: 5px;
  transform: scale(1);
  transition: ease 0.5s;
}

.div-input-mobile-invisible {
  position: absolute;
  left: 0;
  top: 35px;
  z-index: -1;
  scale: 0;
  width: 0;
  transform-origin: top right;
  transition: ease 0.5s;
}
