.main-dropdown{
  position: static !important;
}

.dropdown-button{
  background-color: rgb(45, 45, 45) !important;
  border: none !important;
  color: white;
}

.dropdown-toggle::after{
  content: none !important;
}

.font-color{
  color: rgb(218, 218, 218) !important;
  background-color: rgb(62, 62, 62) !important;
}
  
.dropdown-size{
  margin-top: -2px !important;
  width: 100vw !important;
  margin-left: 0 !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
}

.image-style{
  margin: 8px 0px 15px 15px;
  width: 100px;
  height: 100px;
}

.image-style-responsive{
  margin: 8px 0px 15px 0px;
  width: 100px;
  height: 100px;
}

.col-submenu a{
  text-decoration: none;
  color: rgb(218, 218, 218);
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
}

.col-submenu-responsive a{
  text-decoration: none;
  color: rgb(218, 218, 218);
  display: block;
}

.submenu-title{
  margin-top: 19px;
  margin-right: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
}

.submenu-title-responsive{
  text-decoration: none;
  color: rgb(218, 218, 218);
  display: block;
  cursor: pointer;
  margin-bottom: 5px !important;
  margin-left: 25% !important;
  margin-right: 25% !important;
  font-weight: bold;
}

.submenu-p{
  margin-right: 3rem !important;
  font-size: 12px;
}

.submenu-p-responsive{
  text-decoration: none;
  color: rgb(218, 218, 218);
  display: block;
  margin-right: 25% !important;
  margin-left: 25% !important;
  font-size: 12px;
}

.submenu-title:hover, .submenu-p:hover{
  transition: 0.5s;
  transform: translateX(5px);
}

.submenu-title-responsive:hover, .submenu-p-responsive:hover{
  transition: 0.5s;
  transform: translateX(5px);
}